{% if function('is_singular') and twentynineteen_can_show_post_thumbnail() %}
	<div class="site-featured-image">
		{{ function('twentynineteen_post_thumbnail') }}
		{{ function('the_post') }}
		{% if not function('is_page') and twentynineteen_can_show_post_thumbnail() %}
			{% set discussion = function('twentynineteen_get_discussion_data') %}
		{% else %}
			{% set discussion = null %}
		{% endif %}
		{% set classes = 'entry-header' %}
		{% if not discussion|length and function('absint', discussion.responses) > 0 %}
			{% set classes = 'entry-header has-discussion' %}
		{% endif %}
		<div class="{{ classes }}">
			{% include 'header/entry-header.twig' %}
			</div><!-- .entry-header -->
			{{ function('rewind_posts') }}
		</div>
	{% endif %}
