{% if (sidebar1)  %}
  <aside class="widget-area" role="complementary" aria-label="{{ __( 'Footer', 'twentynineteen' ) }}">
    <div class="widget-column footer-widget-1">
      {{ sidebar1 }}
    </div>
  </aside><!-- .widget-area -->
{% endif %}
