{% extends "base.twig" %}

{% block content %}
  <section id="primary" class="content-area">
  	<main id="main" class="site-main">

  	{% if posts %}
  		<header class="page-header">
  			<h1 class="page-title">{{ title }}</h1>
  		</header><!-- .page-header -->

  		{% for post in posts %}
  		   {% include ['content/content-' ~ post.format ~ '.twig', 'content/content-excerpt.twig'] with {post:post} %}
  		{% endfor %}

  		{{ function('twentynineteen_the_posts_navigation') }}
  	{% else %}
  		{% include 'content/content-none.twig' %}
  	{% endif %}
  	</main><!-- #main -->
  </section><!-- #primary -->
{% endblock %}
