{% block html_head_container %}

{% include 'html-header.twig' %}
  {% block head %}
  {% endblock %}
  </head>
{% endblock %}

  <body class="{{ body_class }}" data-template="base.twig">
    <div id="page" class="site">
      <div id="content" class="site-content">
        {% block content %}
          Sorry, no content
        {% endblock %}
      </div><!-- #content -->

      <footer id="colophon" class="site-footer">

      </footer><!-- #colophon -->
    </div><!-- #page -->

    <?php wp_footer(); ?>

  </body>
</html>
