{% extends "base.twig" %}

{% block content %}
  <section id="primary" class="content-area">
    <main id="main" class="site-main">
      {% for post in posts %}
        {% include 'content/content-content.twig' with { post: post } only %}
      {% else %}
        {% include 'content/content-none.twig' %}
      {% endfor %}
    </main>
  </section>
{% endblock %}
