{% extends "base.twig" %}

{% block content %}
  <section id="primary" class="content-area">
    <main id="main" class="site-main">
    	{% if posts %}
				{% for post in posts %}
				  {% include 'content/content.twig' with { post: post } only %}
				{% endfor %}

				{{ function('twentynineteen_the_posts_navigation') }}
			{% else %}
			   {% include 'content/content-none.twig' %}
    	{% endif %}
  	</main><!-- .site-main -->
  </section><!-- .content-area -->
{% endblock %}
